*.msi
*.msp
*.exe
*.msu
*.log
ServerForm/bin/Debug/KyBll.dll
*.pdb
ServerForm/bin/Debug/KyModel.dll
ServerForm/bin/Debug/SqlFu.dll
ServerForm/bin/Debug/TcpServer.dll
TcpServer/bin/Debug/KyBll.dll
TcpServer/bin/Debug/KyModel.dll
TcpServer/bin/Debug/SqlFu.dll
TcpServer/obj/Debug/TcpServer.dll
KyBll/bin/Debug/KyBll.dll
KyBll/bin/Debug/KyModel.dll
KyBll/bin/Debug/SqlFu.dll
KyBll/obj/Debug/KyBll.dll
KyModel/bin/Debug/CavemanTools.dll
KyModel/bin/Debug/SqlFu.dll
KyModel/bin/Debug/KyModel.dll
KyModel/obj/Debug/KyModel.dll
MaterialSkin/bin/Debug/MaterialSkin.dll
MaterialSkin/obj/Debug/MaterialSkin.dll
NodeServerAndManager/bin/Debug/KyBll.dll
NodeServerAndManager/bin/Debug/KyModel.dll
NodeServerAndManager/bin/Debug/SqlFu.dll
NodeServerAndManager/bin/Debug/System.Threading.Tasks.NET35.dll
NodeServerAndManager/bin/Debug/TcpServer.dll