<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KangYiCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NodeServerAndManager.KangYiCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <userSettings>
        <KangYiCollection.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value />
            </setting>
            <setting name="PictureIp" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceIp" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalIp" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ServerDbPort" serializeAs="String">
                <value>9306</value>
            </setting>
            <setting name="DeviceDbPort" serializeAs="String">
                <value>9304</value>
            </setting>
            <setting name="PicturtDbPort" serializeAs="String">
                <value>9305</value>
            </setting>
            <setting name="PushPort" serializeAs="String">
                <value>9303</value>
            </setting>
            <setting name="PushIp" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="FileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherFactoryAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherFactoryAccessDir" serializeAs="String">
                <value>D:/KangYi/FSN/</value>
            </setting>
            <setting name="CRHExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CRHStartTime" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="CRHYesterday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CRHToday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CRHDir" serializeAs="String">
                <value>D:/KangYi/CRH/</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>0</value>
            </setting>
        </KangYiCollection.Properties.Settings>
        <NodeServerAndManager.KangYiCollection.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value />
            </setting>
            <setting name="PictureIp" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceIp" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalIp" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ServerDbPort" serializeAs="String">
                <value>9306</value>
            </setting>
            <setting name="DeviceDbPort" serializeAs="String">
                <value>9304</value>
            </setting>
            <setting name="PicturtDbPort" serializeAs="String">
                <value>9305</value>
            </setting>
            <setting name="PushPort" serializeAs="String">
                <value>9303</value>
            </setting>
            <setting name="PushIp" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="FileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherFactoryAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherFactoryAccessDir" serializeAs="String">
                <value>D:/KangYi/FSN/</value>
            </setting>
            <setting name="CRHExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CRHStartTime" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="CRHYesterday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CRHToday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CRHDir" serializeAs="String">
                <value>D:/KangYi/CRH/</value>
            </setting>
        </NodeServerAndManager.KangYiCollection.Properties.Settings>
    </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
