<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MyTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Leafing.Settings>
    <add key="DefaultContext" value="MySql"/>
    <add key="MySql.DataBase" value="@MySql : server=localhost;user id=KangYiSystem;port=9304; password=KangYi123456; database=test; pooling=false"/>
    <add key="MySql.DbProviderFactory" value="@SmartDbFactory : MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
  </Leafing.Settings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MyTest.Properties.Settings>
      <setting name="PerFileCount" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="FileCnt" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MachineNumber" serializeAs="String">
        <value>9000A9L0001</value>
      </setting>
      <setting name="Value" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServerIp" serializeAs="String">
        <value>192.168.1.157</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CycleTime" serializeAs="String">
        <value>100</value>
      </setting>
    </MyTest.Properties.Settings>
  </userSettings>
</configuration>
